{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Novel Reader</title>        
        <link rel="stylesheet" href="{% static "bootstrap.css"  %}"/>
        <link rel="stylesheet" href="{% static "owl.carousel.css" %}"/>
        <link rel="stylesheet" href="{% static "owl.theme.default.css" %}"/>
        <link
            href="https://fonts.googleapis.com/css?family=Aclonica&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="{% static "css/style.css"  %}" />
    </head>
    <body>
        <div class="container">
            <!-- greeting page -->
            <div id="greeting" class="section greeting">
                <div class="row align-items-center justify-content-between">
                    <div class="img col align-self-end">
                        <img src="{% static "undraw_book_lover_mkck.svg" %}"alt="" />
                    </div>
                    <div class="greeting-words col">
                        <h3>
                            Welcome back,<br />
                            What do you want to read today?
                        </h3>
                    </div>
                </div>
                <div class="jump text-center">
                    <a href="#recent">
                        <svg id="more-arrows">
                            <polygon
                                class="arrow-top"
                                points="37.6,27.9 1.8,1.3 3.3,0 37.6,25.3 71.9,0 73.7,1.3 "
                            />
                            <polygon
                                class="arrow-middle"
                                points="37.6,45.8 0.8,18.7 4.4,16.4 37.6,41.2 71.2,16.4 74.5,18.7 "
                            />
                            <polygon
                                class="arrow-bottom"
                                points="37.6,64 0,36.1 5.1,32.8 37.6,56.8 70.4,32.8 75.5,36.1 "
                            /></svg
                    ></a>
                </div>
            </div>

            <!-- recent read -->
            <div id="recent" class="section recent">
                <div class="books ">
                    <div class="header row">
                        <h3 class="col">Recent Read</h3>
                        <form action="#" method="post" class="search-box col">
                            <input
                                type="text"
                                class="input-search"
                                name=""
                                value=""
                            />
                            <button
                                type="button"
                                class="btn-search"
                                name="btn-search"
                            ></button>
                        </form>
                    </div>
                </div>
                
                <div class="book-list owl-carousel card-deck">
                    {% load get_val from data_filters %}
                    {% for novel in novels %}
                    <div class="card mb-3 book">
                        <div class="row no-gutters">
                            <div class="col-md-5">
                                <img class="card-img" src="/static/img/{{novel.No}}.jpg" alt="" />
                            </div>
                            <div class="col-md-7">
                                <div class="card-body text-center book-infos">
                                    <h5 class="card-title mt-3 mb-3 text-center book-name">
                                        {{ novel.name }}
                                    </h5>
                                    <h6 class="card-subtitle mb-3 text-center book-author">
                                        by {{ novel.author }}
                                    </h6>
                                    <div class="status">
                                        <p class="card-text mt-5 mb-0 book-status">
                                            <small class="text-muted"
                                                >Status: {{ novel.status }}</small
                                            >
                                        </p>
                                        <p class="card-text book-lu">
                                            <small class="text-muted">Last Updated: 01/23/20</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor%}
                </div>
            </div>
        </div>
        <!-- Javascript  -->
        <script src="{% static 'jquery/jquery-3.4.1.js' %}"></script>
        <script src="{% static 'bootstrap/bootstrap.js' %}"></script>
        <script src="{% static 'materialize/materialize.js' %}"></script>
        <script src="{% static 'owlcarousel/owl.carousel.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>
