{%load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ novel.name }} - Chapter List</title>
        <link rel="stylesheet" href="{% static 'css/chapter_list.css' %}" />
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    </head>
    <body>
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item">
                        <a href="/#recent">{{novel.name}}</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Chapter List
                    </li>
                </ol>
            </nav>
            <div class="row section">
                <div class="book-infos col">
                    <div class="img text-center">
                        <img
                            src="/static/img/{{novel.No}}.jpg"
                            alt=""
                            srcset=""
                        />
                    </div>
                    <div class="infos">
                        <h4 class="novel-name text-center">{{novel.name}}</h4>
                        <h6 class="novel-author text-center">
                            {{novel.author}}
                        </h6>
                        <p>status: {{novel.status}}</p>
                        <p class="latest-chapter">
                            latest chapter: {% load data_filters %}
                            <a href="{{ novel.chapter_titles|last_idx }}">
                                {{novel.chapter_titles|last_elem}}
                            </a>
                        </p>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary">
                            Read
                        </button>
                    </div>
                </div>
                <div class="chapter-list col">
                    <h4 class="text-center">Chapter List</h4>
                    <div class="list-group">
                        {% for chapter in novel.chapter_titles%}
                        <a
                            href="{{ forloop.counter }}"
                            class="list-group-item list-group-item-action"
                        >
                            {{ forloop.counter }}. {{chapter}}
                        </a>
                        {% endfor%}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
